// settings

// fonts
$font-size: 1.6rem;

// colors
$dark-grey: #707C80;
$light-grey: #D3D3D3;
$blue-sea: #107896;

// spacing
$spacing: 1.6rem;
$app-max-width:100rem;

// Button styling
$btn-color: #fff;

// boxed-view

$boxed-view-background: $light-grey;
$boxed-view-whitebox: #FFFFFF;

// form
$input-border: $dark-grey;
$input-spacing: 1.4rem;
