// containes styles for box like view -- login and signup
// using bem naming

.boxed-view {
  background: $boxed-view-background;
  // viewport height
  // takes up the full page
  // vw - view width
  width: 100vw;
  // vh - view height
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.boxed-view--modal {
  background: fade-out(#1abc9c, .3);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.boxed-view__whitebox {
  background-color: $boxed-view-whitebox;
  padding: 4.2rem;
  text-align: center;
  width: 32rem;
  border: 1px solid $blue-sea;
}

.boxed-view__whitebox--dealform {
  background-color: $boxed-view-whitebox;
  padding: 2.2rem;
  text-align: center;
  width: 52rem;
  border: 1px solid $blue-sea;
}

.boxed-view__form {
  display: flex;
  flex-direction: column;
}
